<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.url">jdbc:jtds:sqlserver://localgost</property>

        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <property name="hibernate.connection.pool_size">2</property>
        <property name="hibernate.hbm2ddl.auto">create</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="ru.niatomi.hibernate.model.persistence.Article"/>
        <mapping class="ru.niatomi.hibernate.model.persistence.Author"/>
        <mapping class="ru.niatomi.hibernate.model.persistence.Reader"/>
        <mapping class="ru.niatomi.hibernate.model.persistence.Reader"/>
    </session-factory>
</hibernate-configuration>